html,body{
    margin: 0;
}
#divChecks {
    display: inline-flex; 
    width: 100%;
}
input{
    width: 80px;
    margin-right: 8px;
}
label{
    align-self: center;
    margin-right: 8px;
    font-size: 24px;
}

body{
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
    background: rgb(255, 241, 219);
    margin: 0;
}

button {
    margin: 0 8px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
}
button:hover {
	background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 1px;
}
.infoText{
    font-size: 20px;
    color: rgb(34, 34, 34)
}
.simple{
    background:  linear-gradient(45deg, rgb(168, 220, 255), rgb(70, 115, 143));
}
.checker{
    background: linear-gradient(45deg, rgb(211, 47, 47), rgb(110, 64, 170));
}
.new-checker{
    background: green;
}
.sort-action-panel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;
}
td {
    text-align: center;
    border: 1px solid;
    border-radius: 100%;
}
.start-button {
    margin: 0 auto;
}